{% extends 'base.html' %}
{%load static%}
{% block title %} Home {% endblock title %}

{% block category %}



{%endblock category %}









{% block body %}

<!-- Top Electronics  -->

<div class="heading">
  <h1>Top searched electronics </h1>
</div>
<!--swiper slider-->
<div class="swiper-container1">
  <div class="swiper-wrapper1">
        <!--slide 1-------------------------------------->
        <div class="swiper-slide1">
              <div class="slider-box1">
                    <!-- <p class="time">New</p> -->
                    <div class="img-box1">
                          <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/CEPC/Electronics/revamp/BG/xcm_banners_05_bg_v2_390x498_in-en._CB657835886_.jpg"
                                style="width:120px;height:140px;">
                    </div>
                    <h6>Laptops </h6>
              </div>
        </div>
 <!--slide 2-------------------------------------->
        <div class="swiper-slide1">
              <div class="slider-box1">
                    <div class="img-box1">
                          <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/CEPC/Electronics/revamp/BG/xcm_banners_07_bg_v2_390x498_in-en._CB657835897_.jpg"
                                style="width:120px;height:140px;">
                    </div>
                    <h6> Headphones </h6>
              </div>
        </div>
        <!--slide 3-------------------------------------->
        <div class="swiper-slide1">
              <div class="slider-box1">
                    <div class="img-box1">
                          <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/CEPC/Electronics/revamp/BG/xcm_banners_01_bg_v2_390x498_in-en._CB657835152_.jpg"
                                style="width:120px;height:140px;">
                    </div>
              <h6>Smartwatches </h6>
              </div>
        </div>
        <!--slide 4-------------------------------------->
        <div class="swiper-slide1">
              <div class="slider-box1">
                    <div class="img-box1">
                          <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/CEPC/Electronics/revamp/BG/xcm_banners_08_bg_v2_390x498_in-en._CB657835895_.jpg"
                                style="width:120px;height:140px;">
                    </div>
                    <h6> Cameras </h6>
              </div>
        </div>
        <!--slide 5-------------------------------------->
        <div class="swiper-slide1">
              <div class="slider-box1">

                    <div class="img-box1">
                          <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/CEPC/Electronics/revamp/BG/xcm_banners_06_bg_v2_390x498_in-en._CB657835876_.jpg"
                                style="width:120px;height:140px;">
                    </div>
                    <h6>Printers</h6>
              </div>
        </div>
        <!--slide 6-------------------------------------->
        <div class="swiper-slide1">
              <div class="slider-box1">
                    <div class="img-box1">
                          <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/CEPC/Electronics/revamp/BG/xcm_banners_09_bg_v2_390x498_in-en._CB657835898_.jpg"
                                style="width:120px;height:140px;">
                    </div>
                    <h6>Home theatre </h6>
              </div>
        </div>
       <!--slide 7-------------------------------------->
       <div class="swiper-slide1">
        <div class="slider-box1">
              <div class="img-box1">
                    <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/CEPC/Electronics/revamp/BG/xcm_banners_04_bg_v2_390x498_in-en._CB657835901_.jpg"
                          style="width:120px;height:140px;">
              </div>
              <h6>Computer accessories </h6>
        </div>
  </div>
        <!--slide 8-------------------------------------->
        <div class="swiper-slide1">
          <div class="slider-box1">

                <div class="img-box1">
                      <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/CEPC/Electronics/revamp/BG/xcm_banners_03_bg_v2_390x498_in-en._CB657835872_.jpg"
                            style="width:120px;height:140px;">
                </div>
                <h6>Router </h6>
          </div>
    </div>
    
  </div>
</div>
</div>
</div>




  <br>
  
<!-- Popular Mobile Phones As Of Today -->
<!--slider 1 bags------------------------------------------>
<div class="detail">
  <h5>Popular Mobile Phones As Of June 21, 2021</h5>
    </div>
    <!--swiper slider-->
    <div class="swiper-container">
        <div class="swiper-wrapper">     
            {% for i in prod_all %}
            
            <!--slide 1-------------------------------------->
          <div class="swiper-slide">
          <div class="slider-box">
    <div class="img-box">
    <img src="{{i.img_url1}}">
    </div>
    <h4 class="detail my-3">{{i.product_name}}
    <p> Price : 12000</p>
  </h4>
</div>   
</div>
          {%endfor %}
          </div>         
    </div>
    </div>
    




<!-- Mobile Brands  -->

<!-- Mobile Brands  -->
<br>
<div class="detail">
      <h5>Mobile Brands</h5>
</div>
<!--swiper slider-->

<div class="swiper-container1">
      <div class="swiper-wrapper1">
            <!--slide 1-------------------------------------->
            <div class="swiper-slide1">
                  <div class="slider-box1">
                         <a href="mobile_brand_redmi" >
                        <div class="img-box1">
                              <img src="https://assets.mspimages.in/category-brands/xiaomi_cat.png"
                                    style="width:80px;height:100px;">
                        </div></a>
                        <h6>Mi Phones </h6> </div>
                  </div>
            

            <!--slide 3-------------------------------------->
            <div class="swiper-slide1">
                  <div class="slider-box1"><a href="mobile_brand_samsung">
                        <div class="img-box1">
                              <img src="https://assets.mspimages.in/category-brands/new/Samsung.png"
                                    style="width:120px;height:140px;"> 
                        </div></a>
                        <h6> Samsung </h6>
                  </div>
            </div>
            <!--slide 4-------------------------------------->
            <div class="swiper-slide1">
                  <div class="slider-box1"><a href="mobile_brand_realme">
                        <div class="img-box1">
                          <img src="https://assets.mspimages.in/category-brands/new/Realme.png"
                                    style="width:120px;height:140px;"> 
                        </div></a>
                        <h6> Realme Phones </h6> 
                  </div>
            </div>
            <!--slide 5-------------------------------------->
            <div class="swiper-slide1">
                  <div class="slider-box1">
                        <a href="mobile_brand_vivo">
                        <div class="img-box1">
                             <img src="https://assets.mspimages.in/category-brands/vivo_cat.png"
                                    style="width:120px;height:140px;"> 
                        </div></a>
                        <h6>Vivo Phones</h6> 
                  </div>
            </div>
            <!--slide 6-------------------------------------->
            <div class="swiper-slide1">
                  <div class="slider-box1">
                        <a href="mobile_brand_oppo">
                        <div class="img-box1">
                              <img src="https://assets.mspimages.in/category-brands/new/OPPO.png"
                                    style="width:120px;height:140px;">
                        </div></a>
                        <h6>Oppo Phones </h6> </div>
                  </div>
           
            <!--slide 7-------------------------------------->
            <div class="swiper-slide1">
                  <div class="slider-box1"><a href="mobile_brand_poco">
                        <div class="img-box1">
                              <img src="https://assets.mspimages.in/category-brands/new/POCO.png"
                                    style="width:120px;height:140px;">
                        </div> </a>
                        <h6>Poco Phones </h6>
                  </div>
            </div>
            <!--slide 8-------------------------------------->
            <div class="swiper-slide1">  
                  <div class="slider-box1">
                        <a href="mobile_brand_apple">
                        <div class="img-box1">
                              <img src="https://assets.mspimages.in/category-brands/new/Apple.png"
                                    style="width:120px;height:140px;">
                        </div></a>
                        <h6>Apple Phones </h6>
                  </div>
            </div>
            <div class="swiper-slide1">
                  <div class="slider-box1">
                        <a href="mobile_brand_oneplus">
                        <div class="img-box1">
                          <img src="https://assets.mspimages.in/category-brands/new/OnePlus.png"
                                    style="width:120px;height:140px;">
                        </div></a>
                        <h6>OnePlus Phones </h6>
                  </div>
            </div>
            <div class="swiper-slide1">
                  <div class="slider-box1">
                <a href="mobile_brand_nokia">
                        <div class="img-box1">
                              <img src="https://assets.mspimages.in/category-brands/nokia_100.png"
                                    style="width:120px;height:140px;">
                        </div></a>
                        <h6>Nokia Phones </h6>
                  </div>
            </div>
            <div class="swiper-slide1">
                  <div class="slider-box1">
                        <a href="mobile_brand_infinix">
                        <div class="img-box1">
                              <img src="https://assets.mspimages.in/category-brands/new/Infinix.png"
                                    style="width:120px;height:140px;">
                        </div></a>
                        <h6>Infinix Phones </h6>
                  </div>
            </div>
            <div class="swiper-slide1">
                  <div class="slider-box1">
                        <a href="mobile_brand_asus">
                        <div class="img-box1">
                             <img src="https://assets.mspimages.in/category-brands/new/ASUS.png"
                                    style="width:120px;height:140px">
                        </div></a>
                        <h6>Asus Phones </h6>
            </div></div>
            <div class="swiper-slide1">
                  <div class="slider-box1"><a href="mobile_brand_techno">
                        <div class="img-box1">
                              <img src="https://assets.mspimages.in/category-brands/new/Tecno.png"
                                    style="width:120px;height:140px;">
                        </div></a>
                        <h6>Techno Phones </h6> 
                  </div>
            </div>
            <div class="swiper-slide1">
                  <div class="slider-box1">
                        <a href="mobile_brand_huawei">
                        <div class="img-box1">
                        <img src="https://assets.mspimages.in/category-brands/new/Huawei.png"
                                    style="width:120px;height:140px;">
                        </div></a><h6>Huawei Phones </h6> 
                  </div>
            </div>
      </div>
</div>
</div>
</div>


<!-- Men's Collection -->
<br>
<div class="detail">
  <h5>Men's Collection</h5>
    </div>
<!--swiper slider-->
<div class="swiper-container1">
  <div class="swiper-wrapper1">
        <!--slide 1-------------------------------------->
        <div class="swiper-slide1">
              <div class="slider-box1">
                    <!-- <p class="time">New</p> -->
                    <div class="img-box1">
                          <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/Fashion/June_WRS/Event/Revised_creatives/Mens_SBC/Men-SBC_01._SY530_QL85_.jpg"
                                style="width:120px;height:180px;">
                    </div>
                   
              </div>
        </div>
 <!--slide 2-------------------------------------->
        <div class="swiper-slide1">
              <div class="slider-box1">
                    <div class="img-box1">
                          <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/Fashion/June_WRS/Event/Revised_creatives/Mens_SBC/Men-SBC_02._SY530_QL85_.jpg"
                                style="width:120px;height:180px;">
                    </div>
                   
              </div>
        </div>
        <!--slide 3-------------------------------------->
        <div class="swiper-slide1">
              <div class="slider-box1">
                    <div class="img-box1">
                          <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/Fashion/June_WRS/Event/Revised_creatives/Mens_SBC/Men-SBC_04._SY530_QL85_.jpg"
                                style="width:120px;height:180px;">
                    </div>
            
              </div>
        </div>
        <!--slide 4-------------------------------------->
        <div class="swiper-slide1">
              <div class="slider-box1">
                    <div class="img-box1">
                          <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/Fashion/June_WRS/Event/Revised_creatives/Mens_SBC/Men-SBC_03._SY530_QL85_.jpg"
                                style="width:120px;height:180px;">
                    </div>
                
              </div>
        </div>
        <!--slide 5-------------------------------------->
        <div class="swiper-slide1">
              <div class="slider-box1">

                    <div class="img-box1">
                          <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/Fashion/June_WRS/Event/Revised_creatives/Mens_SBC/Men-SBC_05._SY530_QL85_.jpg"
                                style="width:120px;height:180px;">
                    </div>
                   
              </div>
        </div>
        <!--slide 6-------------------------------------->
        <div class="swiper-slide1">
              <div class="slider-box1">
                    <div class="img-box1">
                          <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/Fashion/June_WRS/Event/Revised_creatives/Mens_SBC/Men-SBC_06._SY530_QL85_.jpg"
                                style="width:120px;height:180px;">
                    </div>
              </div>
        </div>
       <!--slide 7-------------------------------------->
        <div class="swiper-slide1">
              <div class="slider-box1">

                    <div class="img-box1">
                          <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/Fashion/June_WRS/Event/Ingress/AF_set/COOP_PC/WRS-PC-Coop2_01._SS400_QL85_.jpg"
                                style="width:120px;height:140px;">
                    </div>
                    <h6>Footware </h6>
              </div>
        </div>
        <!--slide 8-------------------------------------->
        <div class="swiper-slide1">
              <div class="slider-box1">
                    <div class="img-box1">
                          <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/Fashion/June_WRS/Event/Ingress/AF_set/COOP_PC/WRS-PC-Coop2_01._SS400_QL85_.jpg"
                                style="width:120px;height:140px;">
                    </div>
                    <h6>Footware </h6>
              </div>
        </div>
  </div>
</div>
</div>
</div>

<!-- Women's Collection -->

<br>
<div class="detail">
  <h5>Women's Collection</h5>
    </div>
<!--swiper slider-->
<div class="swiper-container1">
  <div class="swiper-wrapper1">
        <!--slide 1-------------------------------------->
        <div class="swiper-slide1">
              <div class="slider-box1">
                    <!-- <p class="time">New</p> -->
                    <div class="img-box1">
                          <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/Fashion/June_WRS/Event/Revised_creatives/Women_SBC/Women-SBC_01._SY530_QL85_.jpg"
                                style="width:120px;height:180px;">
                    </div>
                    
              </div>
        </div>
 <!--slide 2-------------------------------------->
        <div class="swiper-slide1">
              <div class="slider-box1">
                    <div class="img-box1">
                          <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/Fashion/June_WRS/Event/Revised_creatives/Women_SBC/Women-SBC_02._SY530_QL85_.jpg"
                                style="width:120px;height:180px;">
                    </div>
              </div>
        </div>
        <!--slide 3-------------------------------------->
        <div class="swiper-slide1">
              <div class="slider-box1">
                    <div class="img-box1">
                          <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/Fashion/June_WRS/Event/Revised_creatives/Women_SBC/Beauty_03._SY530_QL85_.jpg"
                                style="width:120px;height:180px;">
                    </div>
              </div>
        </div>
        <!--slide 4-------------------------------------->
        <div class="swiper-slide1">
              <div class="slider-box1">
                    <div class="img-box1">
                          <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/Fashion/June_WRS/Event/Revised_creatives/Women_SBC/Women-SBC_04._SY530_QL85_.jpg"
                                style="width:120px;height:180px;">
                    </div>
              </div>
        </div>
        <!--slide 5-------------------------------------->
        <div class="swiper-slide1">
              <div class="slider-box1">

                    <div class="img-box1">
                          <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/Fashion/June_WRS/Event/Revised_creatives/Women_SBC/Women-SBC_05._SY530_QL85_.jpg"
                                style="width:120px;height:180px;">
                    </div>
              </div>
        </div>
        <!--slide 6-------------------------------------->
        <div class="swiper-slide1">
              <div class="slider-box1">
                    <div class="img-box1">
                          <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/Fashion/June_WRS/Event/Revised_creatives/Women_SBC/Women-SBC_06._SY530_QL85_.jpg"
                                style="width:120px;height:180px;">
                    </div>
              </div>
        </div>
       <!--slide 7-------------------------------------->
        <div class="swiper-slide1">
              <div class="slider-box1">

                    <div class="img-box1">
                          <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/Fashion/June_WRS/Event/Revised_creatives/Women_SBC/Women-SBC_06._SY530_QL85_.jpg"
                                style="width:120px;height:180px;">
                    </div>
              </div>
        </div>
        <!--slide 8-------------------------------------->
        <div class="swiper-slide1">
              <div class="slider-box1">
                    <div class="img-box1">
                          <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/Fashion/June_WRS/Event/Revised_creatives/Women_SBC/Women-SBC_06._SY530_QL85_.jpg"
                                style="width:120px;height:180px;">
                    </div></div>
        </div>
  </div>
</div>
</div>
</div>



    




<!-- SmartPhones slider-1 -->

<!--slider 1 bags------------------------------------------>
<div class="heading my-5">
  <h1> SmartPhones </h1>
    </div>
    <!--swiper slider-->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for i in prod_all %}
            <!--slide 1-------------------------------------->
          <div class="swiper-slide">
          <div class="slider-box">
    <div class="img-box">
    <img src="{{i.img_url1}}">
    </div>
    <h4 class="detail">{{i.product_name}}</h4>
    <div class="cart">
    <a href="#">Go Shop</a>
    </div>
</div>   
          </div>
          {%endfor %}
          </div>
    </div>
    
    </div>






<!-- women's wearing -->
<!--slider 1 bags------------------------------------------>
<div class="detail">
    <h4> Women's Wearing</h4>
      </div>
      <!--swiper slider-->
      <div class="swiper-container">
          <div class="swiper-wrapper">     
              {% for i in prod_all %}
              <!--slide 1-------------------------------------->
            <div class="swiper-slide">
            <div class="slider-box">
      <div class="img-box">
      <img src="https://rukminim1.flixcart.com/image/495/594/jwuzzww0/top/g/m/h/s-gr5863-mustard-harpa-original-imafhg9hhqzhp2hj.jpeg?q=50">
      </div>
      <h4 class="detail">{{i.product_name}}</h4>
      <div class="cart">
      <a href="#">Go Shop</a>
      </div>
  </div>   
</div>
            {%endfor %}
            </div>         
      </div>
      </div>
      
  
<!--slider 1 bags------------------------------------------>
<div class="heading my-5">
    <h3> Footware </h3>
      
      </div>
      <!--swiper slider-->
      <div class="swiper-container">
          <div class="swiper-wrapper">
     
              {% for i in prod_all %}
              <!--slide 1-------------------------------------->
            <div class="swiper-slide">
            <div class="slider-box">
     
      <div class="img-box">
      <img src="https://rukminim1.flixcart.com/image/495/594/kg9qbgw0-0/shoe/7/r/e/380815-puma-white-black-original-imafwgy4sgzuznj6.jpeg?q=50">
      </div>
      
      <h4 class="detail">{{i.product_name}}</h4>
      <div class="cart">
      <a href="https://www.amazon.in/gp/product/B08696XB4B/ref=as_li_tl?ie=UTF8&tag=freeshopindia-21&camp=3638&creative=24630&linkCode=as2&creativeASIN=B08696XB4B&linkId=ea7c3ebfa118f0a48b20efc6a364b39f">Go Shop</a>
      </div>
  </div>   
            </div>
            {%endfor %}            
            </div>
      </div>
      
      </div>


      
    <section class="container">
      <div class="py-5">
        <ul class="nav nav-tabs">
          
          <li class="nav-item">
            <a class="nav-link active" href="">All Product</a>
          </li>
      </div>
      </li>
      </ul>
  </div>
  </section>
  {% if filtered %}
  <div class="container">
    <div class="row">
      {% for i in filtered %}
     <div class="card mx-auto my-2 p-2 align-items-center" style="width: 25rem; height:32rem;">
        {% if i.sub_category in 'laptop' or  i.sub_category in 'shoes' %}
 <a href="products/{{i.id}}"> <img src="{{i.img_url1}}" style="width:300px;
            height:200px;" class="padded card-img-top" alt="..."></a>
{% elif i.sub_category in 'tv'%}
<a href="products/{{i.id}}"> <img src="{{i.img_url1}}" style="width:300px;
            height:200px;" class="padded card-img-top" alt="..."></a>
    {% elif i.sub_category in 'mobile' %}
        <a href="products/{{i.id}}"> <img src="{{i.img_url1}}" style="width:150px;
            height:250px;" class="padded card-img-top" alt="..."></a>
        {% else %}
        <a href="products/{{i.id}}"> <img src="{{i.img_url1}}" style="width:230px;height:250px;"
            class="padded card-img-top" alt="..."></a>
        {% endif %}
        <div class="card-body">
          <h5 class="card-title text-center"> <a style="text-decoration:none;" class='text-dark' href="products/{{i.id}}">
              {{i.product_name}}</a></h5>
          <p class="card-text text-center"><a style="text-decoration:none;" class='text-dark' href="products/{{i.id}}">{{i.desc}}</a></p>
          {% comment %} <p class="card-text text-center text-success"> ₹{{i.price}} Save ₹2,000</p> {% endcomment %}
          <p class="card-text"><small class="text-muted">Released {{i.pub_date}} </small></p>
        </div>
      </div>
      {%endfor%}
      </section>
    </div>
  </div>
   {% comment %} <div class="container my-5">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item ">
                     {% if prev_filter %}  
          <a class="page-link" href="/?filter={{filtered_price}}&page={{prev_filter}}">Previous</a>
          {% else %}
          {% endif %}
        </li>
        {% for x in page_len_filtered %} 
        <li class="page-item"><a class="page-link" href="/?filter={{filtered_price}}&page={{x}}">{{x}}</a></li>
        {% endfor %}
        {% if nxt_filter %}
        <a class="page-link" href="/?filter={{filtered_price}}&page={{nxt_filter}}">Next</a>
        {% else %}
        {% endif %}
                </li>
            </ul>
        </nav>
        </div> {% endcomment %}
  {% else %}
  <div class="container">
    <div class="row">
      {% for i in prod_all %}
      {%if i.sub_category == 'mobile'%}
      <div class="card mx-auto my-2 p-2 align-items-center" style="width: 15rem; height:18rem;" style="text-decoration:none;">
            <a href="products/{{i.id}}"> <img src="{{i.img_url1}}" style="width:80px;height:160px;"></a>
           
        {%elif i.sub_category == 'laptop' or i.sub_category == 'television'%}
      <div class="card mx-auto my-2 p-2 align-items-center" style="width: 15rem; height:17rem;">
            <a href="products/{{i.id}}"> <img src="{{i.img_url1}}" style="width:200;height:100px;"></a>
     
        {%else%}
      <div class="card mx-auto my-2 p-2 align-items-center" style="width: 15rem; height:17rem;">
            <a href="products/{{i.id}}"> <img src="{{i.img_url1}}" style="width:120px;height:120px;"></a>
        {%endif%}
  <div class="card-body">
          <p class="card-title text-center"> <a style="text-decoration:none;" class='text-dark' href="products/{{i.id}}">
              {{i.product_name}}</a></p>
          <p class="card-text text-center"><a class='text-dark' style="text-decoration:none;" href="products/{{i.id}}">{{i.desc}} </a></p>
         
        </div>
      </div>
      {%endfor%}
      </section>
    </div>
  </div>
  <div class="container my-5 text-center">
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item ">
          {% if prev %}
          
          <a class="page-link" href="/?page={{prev}}">Previous</a>
          {% else %}
          {% endif %}
        </li>
        {% for x in page_len %}
       
        <li class="page-item"><a class="page-link" href="/?page={{x}}">{{x}}</a></li>
        {% endfor %}
        {% if nxt %}
        <a class="page-link" href="/?page={{nxt}}">Next</a>
        {% else %}
        {% endif %}
        </li>
      </ul>
    </nav>
    {% endif %}
  </div>
{% endblock body %}