{% extends 'base.html' %}
{%load static%}

{% block title %} Home {% endblock title %}

{% block body %}


<br>
<!-- Popular Mobile Phones As Of Today -->
<!--slider 1 bags------------------------------------------>
<div class="detail">
      <h5>Popular Mobile Phones As Of June 21, 2021</h5>
</div>
<!--swiper slider-->
<div class="swiper-container">
      <div class="swiper-wrapper">
            {% for i in mobile %}
            <!--slide 1-------------------------------------->
            <div class="swiper-slide">
                  <div class="slider-box">
                        <div class="img-box">
                              <img src="{{i.img_url1}}">
                        </div>
                        <h4 class="detail my-3">{{i.product_name}}
                              <p> Price : 12000</p>
                        </h4>
                  </div>
            </div>
            {%endfor %}
      </div>
</div>
</div>

<!-- Mobile Brands  -->
<br>
<div class="detail">
      <h5>Mobile Brands</h5>
</div>
<!--swiper slider-->

<div class="swiper-container1">
      <div class="swiper-wrapper1">
            <!--slide 1-------------------------------------->
            <div class="swiper-slide1">
                  <div class="slider-box1">
                        <a href="mobile_brand_redmi">
                              <div class="img-box1">
                                    <img src="https://assets.mspimages.in/category-brands/xiaomi_cat.png"
                                          style="width:120px;height:140px;">
                              </div>
                        </a>
                        <h6>Mi Phones </h6>
                  </div>
            </div>


            <!--slide 3-------------------------------------->
            <div class="swiper-slide1">
                  <div class="slider-box1"><a href="mobile_brand_samsung">
                              <div class="img-box1">
                                    <img src="https://assets.mspimages.in/category-brands/new/Samsung.png"
                                          style="width:120px;height:140px;">
                              </div>
                        </a>
                        <h6> Samsung </h6>
                  </div>
            </div>
            <!--slide 4-------------------------------------->
            <div class="swiper-slide1">
                  <div class="slider-box1"><a href="mobile_brand_realme">
                              <div class="img-box1">
                                    <img src="https://assets.mspimages.in/category-brands/new/Realme.png"
                                          style="width:120px;height:140px;">
                              </div>
                        </a>
                        <h6> Realme Phones </h6>
                  </div>
            </div>
            <!--slide 5-------------------------------------->
            <div class="swiper-slide1">
                  <div class="slider-box1">
                        <a href="mobile_brand_vivo">
                              <div class="img-box1">
                                    <img src="https://assets.mspimages.in/category-brands/vivo_cat.png"
                                          style="width:120px;height:140px;">
                              </div>
                        </a>
                        <h6>Vivo Phones</h6>
                  </div>
            </div>
            <!--slide 6-------------------------------------->
            <div class="swiper-slide1">
                  <div class="slider-box1">
                        <a href="mobile_brand_oppo">
                              <div class="img-box1">
                                    <img src="https://assets.mspimages.in/category-brands/new/OPPO.png"
                                          style="width:120px;height:140px;">
                              </div>
                        </a>
                        <h6>Oppo Phones </h6>
                  </div>
            </div>

            <!--slide 7-------------------------------------->
            <div class="swiper-slide1">
                  <div class="slider-box1"><a href="mobile_brand_poco">
                              <div class="img-box1">
                                    <img src="https://assets.mspimages.in/category-brands/new/POCO.png"
                                          style="width:120px;height:140px;">
                              </div>
                        </a>
                        <h6>Poco Phones </h6>
                  </div>
            </div>
            <!--slide 8-------------------------------------->
            <div class="swiper-slide1">
                  <div class="slider-box1">
                        <a href="mobile_brand_apple">
                              <div class="img-box1">
                                    <img src="https://assets.mspimages.in/category-brands/new/Apple.png"
                                          style="width:120px;height:140px;">
                              </div>
                        </a>
                        <h6>Apple Phones </h6>
                  </div>
            </div>
            <div class="swiper-slide1">
                  <div class="slider-box1">
                        <a href="mobile_brand_oneplus">
                              <div class="img-box1">
                                    <img src="https://assets.mspimages.in/category-brands/new/OnePlus.png"
                                          style="width:120px;height:140px;">
                              </div>
                        </a>
                        <h6>OnePlus Phones </h6>
                  </div>
            </div>
            <div class="swiper-slide1">
                  <div class="slider-box1">
                        <a href="mobile_brand_nokia">
                              <div class="img-box1">
                                    <img src="https://assets.mspimages.in/category-brands/nokia_100.png"
                                          style="width:120px;height:140px;">
                              </div>
                        </a>
                        <h6>Nokia Phones </h6>
                  </div>
            </div>
            <div class="swiper-slide1">
                  <div class="slider-box1">
                        <a href="mobile_brand_infinix">
                              <div class="img-box1">
                                    <img src="https://assets.mspimages.in/category-brands/new/Infinix.png"
                                          style="width:120px;height:140px;">
                              </div>
                        </a>
                        <h6>Infinix Phones </h6>
                  </div>
            </div>
            <div class="swiper-slide1">
                  <div class="slider-box1">
                        <a href="mobile_brand_asus">
                              <div class="img-box1">
                                    <img src="https://assets.mspimages.in/category-brands/new/ASUS.png"
                                          style="width:120px;height:140px">
                              </div>
                        </a>
                        <h6>Asus Phones </h6>
                  </div>
            </div>
            <div class="swiper-slide1">
                  <div class="slider-box1"><a href="mobile_brand_techno">
                              <div class="img-box1">
                                    <img src="https://assets.mspimages.in/category-brands/new/Tecno.png"
                                          style="width:120px;height:140px;">
                              </div>
                        </a>
                        <h6>Techno Phones </h6>
                  </div>
            </div>
            <div class="swiper-slide1">
                  <div class="slider-box1">
                        <a href="mobile_brand_huawei">
                              <div class="img-box1">
                                    <img src="https://assets.mspimages.in/category-brands/new/Huawei.png"
                                          style="width:120px;height:140px;">
                              </div>
                        </a>
                        <h6>Huawei Phones </h6>
                  </div>
            </div>
      </div>
</div>
</div>
</div>

<div class="container my-5">
      <div class="py-5">
      </div>
      <ul class="nav nav-tabs">
            <li class="nav-item">
                  <a class="nav-link active" href="{{sub_cat}}">{{sub_cat}}</a>
            </li>
            </li>

            <div class="dropdown mx-5 mb-3">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="btn dropdown-item" onclick="filterSelection('all')"> <a>Show all</a></button>
                        <form class="btn dropdown-item" method='get'> <button value="price_1" ,
                                    name="{{sub_cat}}_price_range"> <a>under ₹{{price_1}}</a></button></form>
                        <form class="btn dropdown-item" method='get'> <button value="price_2" ,
                                    name="{{sub_cat}}_price_range"><a>₹{{price_1}} - ₹{{price_2}}</a></button></form>
                        <form class="btn dropdown-item" method='get'> <button value="price_3" ,
                                    name="{{sub_cat}}_price_range"><a>₹{{price_2}} - ₹{{price_3}}</a></button></form>
                        <form class="btn dropdown-item" method='get'> <button value="price_4" ,
                                    name="{{sub_cat}}_price_range"><a>over ₹{{price_3}}</a></button></form>
                        <form method='get'>
                              <h6 class="card-header">Price</h6>
                              <div class="list-group list-group-flush">
                                    <li class="list-group-item">
                                          <input type="range" value="{{minMaxPrice.price__min}}"
                                                max={{minMaxPrice.price__max}} min={{minMaxPrice.price__min}}
                                                id="rangeInput" oninput="maxPrice.value=this.value" name='filter' />

                                    </li>
                                    <li class="list-group-item">
                                          Max: <input type="number" value="{{minMaxPrice.price__min}}"
                                                max={{minMaxPrice.price__max}} min={{minMaxPrice.price__min}}
                                                class="form-control" id="maxPrice" onkeyup="rangeInput.value=this.value"
                                                id="maxPrice" />
                                          <button id="priceFilterBtn" class="btn btn-info btn-sm mt-1">Filter</button>
                                    </li>
                              </div>
                  </div>
                  </form>
            </div>
            <div class="dropdown mx-3">
                  <button class="btn btn-secondary dropdown-toggle" style="border-radius: 10% ;" type="button"
                        id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Brand
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a class=" dropdown-item btn" href="mobile_brand_redmi">Redmi </a>
                        <a class=" dropdown-item btn" href="mobile_brand_samsung">Samsung </a>
                        <a class=" dropdown-item btn" href="mobile_brand_redmi">Realme </a>
                        <a class=" dropdown-item btn" href="mobile_brand_vivo">Vivo </a>
                        <a class=" dropdown-item btn" href="mobile_brand_oppo">Oppo </a>
                        <a class=" dropdown-item btn" href="mobile_brand_poco">Poco </a>
                        <a class=" dropdown-item btn" href="mobile_brand_apple">Apple </a>
                        <a class=" dropdown-item btn" href="mobile_brand_oneplus">OnePlus </a>
                        <a class=" dropdown-item btn" href="mobile_brand_nokia">Nokia </a>
                        <a class=" dropdown-item btn" href="mobile_brand_infinix">Infinix </a>
                        <a class=" dropdown-item btn" href="mobile_brand_asus">Asus </a>
                        <a class=" dropdown-item btn" href="mobile_brand_techno">Techno </a>
                        <a class=" dropdown-item btn" href="mobile_brand_huawei">Huawei </a>
                  </div>
            </div>
            </li>

</div>
</li>
</ul>
</div>
<div class="container my-5">
      <div id="myBtnContainer">
            <form class="btn" method='get'> <button value="price_1" , name="{{sub_cat}}_price_range"style="font-size: 13px;"> under
                        ₹{{price_1}}</button></form>
            <form class="btn" method='get'> <button value="price_2" , name="{{sub_cat}}_price_range"style="font-size: 13px;">₹{{price_1}} -
                        ₹{{price_2}}</button></form>
            <form class="btn" method='get'> <button value="price_3" , name="{{sub_cat}}_price_range"style="font-size: 13px;">₹{{price_2}} -
                        ₹{{price_3}}</button></form>
            <form class="btn" method='get'> <button value="price_4" , name="{{sub_cat}}_price_range"style="font-size: 13px;">Over
                        ₹{{price_3}}</button></form>

      </div>
</div>


{% if price_range_filter %}
<div class="filter_range" id="filter_range" style="display: block;">
      <div class="container my-5">
            <div class="row">
                  {% for i in price_range_filter %}
                  <div class="card mx-auto my-2 p-2 align-items-center" style="width: 10rem; height:18rem;">
                        <a href="products/{{i.id}}"> <img src="{{i.img_url1}}" style="width:80px;height:160;"></a>
                        <div class="card-body">
                              <p class="card-title text-center"> <a style="text-decoration:none;" class='text-dark'
                                          href="products/{{i.id}}">
                                          {{i.product_name}}</a></p>
                              <p class="card-text text-center"><a style="text-decoration:none;" class='text-dark'
                                          href="products/{{i.id}}">{{i.desc}} </a></p>
                              <!-- <p class="card-text text-center text-success"> ₹{{i.price}} Save ₹2,000</p> -->
                              <!-- <p class="card-text"><small class="text-muted">Released {{i.pub_date}} </small></p> -->
                        </div>
                  </div>
                  {%endfor%}
            </div>
      </div>
</div>
<div class="container my-5">
      <nav aria-label="...">
            <ul class="pagination">
                  <li class="page-item ">
                        {% if prev_filter %}
                        <a class="page-link"
                              href="/{{sub_cat}}?filter={{filtered_price}}&page={{prev_filter}}">Previous</a>
                        {% else %}
                        {% endif %}
                  </li>
                  {% for x in page_len_filter %}
                  <li class="page-item"><a class="page-link"
                              href="/{{sub_cat}}?filter={{filtered_price}}&page={{x}}">{{x}}</a></li>
                  {% endfor %}
                  {% if nxt_filter %}
                  <a class="page-link" href="/{{sub_cat}}?filter={{filtered_price}}&page={{nxt_filter}}">Next</a>
                  {% else %}
                  {% endif %}
                  </li>
            </ul>
      </nav>
</div>

{% elif brand_price_range_filter %}
<div class="filter_range" id="filter_range" style="display: block;">
      <div class="container my-5">
            <div class="row">
                  {% for i in brand_price_range_filter %}
                  <div class="card mx-auto my-2 p-2 align-items-center" style="width: 10rem; height:18rem;">
                        <a href="products/{{i.id}}"> <img src="{{i.img_url1}}" style="width:80px;height:160;"></a>
                        <div class="card-body">
                              <p class="card-title text-center"> <a style="text-decoration:none;" class='text-dark'
                                          href="products/{{i.id}}">
                                          {{i.product_name}}</a></p>
                              <p class="card-text text-center"><a style="text-decoration:none;" class='text-dark'
                                          href="products/{{i.id}}">{{i.desc}} </a></p>
                              <!-- <p class="card-text text-center text-success"> ₹{{i.price}} Save ₹2,000</p> -->
                              <!-- <p class="card-text"><small class="text-muted">Released {{i.pub_date}} </small></p> -->
                        </div>
                  </div>
                  {%endfor%}
            </div>
      </div>
</div>
<div class="container my-5">
      <nav aria-label="...">
            <ul class="pagination">
                  <li class="page-item ">
                        {% if prev_filter %}
                        <a class="page-link" href="/{{brand_url}}?filter={{filtered_price}}&page={{prev_filter}}">Previous</a>
                        {% else %}
                        {% endif %}
                  </li>
                  {% for x in page_len_filter %}
                  <li class="page-item"><a class="page-link" href="/{{brand_url}}?filter={{filtered_price}}&page={{x}}">{{x}}</a></li>
                  {% endfor %}
                  {% if nxt_filter %}
                  <a class="page-link" href="/{{brand_url}}?filter={{filtered_price}}&page={{nxt_filter}}">Next</a>
                  {% else %}
                  {% endif %}
                  </li>
            </ul>
      </nav>
      </div>
      
{%elif product%}
<div class="filterDiv all">
      <div class="container my-5">
            <div class="row">
                  {% for i in product %}
                  <div class="card mx-auto my-2 p-2 align-items-center" style="width: 10rem; height:18rem;">
                        <a href="products/{{i.id}}"> <img src="{{i.img_url1}}"
                                    style="width:{{img_width}}px;height:{{img_height}}px;"></a>
                        <div class="card-body my-3">
                              <p class="card-title text-center"> <a style="text-decoration:none;" class='text-dark'
                                          href="products/{{i.id}}">
                                          {{i.product_name}}</a></p>
                              <p class="card-text text-center"><a style="text-decoration:none;" class='text-da    rk'
                                          href="products/{{i.id}}">{{i.desc}} </a></p>
                              <!-- <p class="card-text text-center text-success"> ₹{{i.price}} Save ₹2,000</p> -->
                              <!-- <p class="card-text"><small class="text-muted">Released {{i.pub_date}} </small></p> -->
                        </div>
                  </div>
                  {%endfor%}
            </div>
      </div>
      {%if value is none%}
      <div class="container my-5">
            <nav aria-label="...">
                  <ul class="pagination">
                        <li class="page-item ">
                              {% if prev %}
                              <a class="page-link" href="/{{sub_cat}}?page={{prev}}">Previous</a>
                              {% else %}
                              {% endif %}
                        </li>
                        {% for x in page_len %}
                        <li class="page-item"><a class="page-link" href="/{{sub_cat}}?page={{x}}">{{x}}</a></li>
                        {% endfor %}
                        {% if nxt %}
                        <a class="page-link" href="/{{sub_cat}}?page={{nxt}}">Next</a>
                        {% else %}
                        {% endif %}
                        </li>
                  </ul>
            </nav>
      </div>
      {% else %}

      <div class="container my-5">
            <nav aria-label="...">
                  <ul class="pagination">
                        <li class="page-item ">
                              {% if prev %}
                              <a class="page-link"
                                    href="{{sub_cat}}?{{sub_cat}}_price_range={{value}}&page={{prev}}">Previous</a>
                              {% else %}
                              {% endif %}
                        </li>
                        {% for x in page_len %}
                        <li class="page-item"><a class="page-link"
                                    href="/{{sub_cat}}?{{sub_cat}}_price_range={{value}}&page={{x}}">{{x}}</a></li>
                        {% endfor %}
                        {% if nxt %}
                        <a class="page-link" href="/{{sub_cat}}?{{sub_cat}}_price_range={{value}}&page={{nxt}}">Next</a>
                        {% else %}
                        {% endif %}
                        </li>
                  </ul>
            </nav>
      </div>

      {%endif%}
</div>
</div>





{%elif brand_product%}
<div class="filterDiv all">
      <div class="container my-5">
            <div class="row">
                  {% for i in brand_product %}
                  <div class="card mx-auto my-2 p-2 align-items-center" style="width: 10rem; height:18rem;">
                        <a href="products/{{i.id}}"> <img src="{{i.img_url1}}"
                                    style="width:{{img_width}}px;height:{{img_height}}px;"></a>
                        <div class="card-body my-3">
                              <p class="card-title text-center"> <a style="text-decoration:none;" class='text-dark'
                                          href="products/{{i.id}}">
                                          {{i.product_name}}</a></p>
                              <p class="card-text text-center"><a style="text-decoration:none;" class='text-da    rk'
                                          href="products/{{i.id}}">{{i.desc}} </a></p>
                              <!-- <p class="card-text text-center text-success"> ₹{{i.price}} Save ₹2,000</p> -->
                              <!-- <p class="card-text"><small class="text-muted">Released {{i.pub_date}} </small></p> -->
                        </div>
                  </div>
                  {%endfor%}
            </div>
      </div>
      {%if value is none%}
      <div class="container my-5">
            <nav aria-label="...">
                  <ul class="pagination">
                        <li class="page-item ">
                              {% if prev %}
                              <a class="page-link" href="/{{brand_url}}?page={{prev}}">Previous</a>
                              {% else %}
                              {% endif %}
                        </li>
                        {% for x in page_len %}
                        <li class="page-item"><a class="page-link" href="/{{brand_url}}?page={{x}}">{{x}}</a></li>
                        {% endfor %}
                        {% if nxt %}
                        <a class="page-link" href="/{{brand_url}}?page={{nxt}}">Next</a>
                        {% else %}
                        {% endif %}
                        </li>
                  </ul>
            </nav>
      </div>
      {% else %}

      <div class="container my-5">
            <nav aria-label="...">
                  <ul class="pagination">
                        <li class="page-item ">
                              {% if prev %}
                              <a class="page-link"
                                    href="{{brand_url}}?{{sub_cat}}_price_range={{value}}&page={{prev}}">Previous</a>
                              {% else %}
                              {% endif %}
                        </li>
                        {% for x in page_len %}
                        <li class="page-item"><a class="page-link"
                                    href="/{{brand_url}}?{{sub_cat}}_price_range={{value}}&page={{x}}">{{x}}</a></li>
                        {% endfor %}
                        {% if nxt %}
                        <a class="page-link" href="/{{brand_url}}?{{sub_cat}}_price_range={{value}}&page={{nxt}}">Next</a>
                        {% else %}
                        {% endif %}
                        </li>
                  </ul>
            </nav>
      </div>

{%endif%}
{%endif%}

<!-- For brand-filter-mobile -->


<!-- Main-condiation for brand_filter_products_all -->


</script>

{% endblock body %}