{%load static%}
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="style2.css">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<script src="https://kit.fontawesome.com/8b7c482f52.js" crossorigin="anonymous"></script>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style2.css">
<style type="text/css">
  * {

    /*background-color: #A9A9A9;*/
    font-family: Franklin Gothic Medium
  }

  .card-text {
    /*
    font-size:25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*overflow: hidden;*/
    */
  }
</style>
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
 -->
<link rel="icon" href="static/title_img.png" type="image/png">
<title>Hey, I'm Tushar</title>


</head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <div class="tushar">
    <nav class="navbar navbar-expand-lg py-5 navbar-light bg- light">
      <a class="navbar-brand" href="index.html">Incredible shoping ! </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" mt=3>
          <li class="nav-item active">
            <a class="navbar-brand" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="#">CV</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="Projects.html">Projects</a>
          </li>

          <li class="nav-item">
            <a class="navbar-brand" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">

      <form class="d-flex" id="navbutton">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"> Search </button>
      </form>
      <section class="my-5">
        <div class="py-5">
          <!-- <h2 class="text-center">Machine Learning Projects </h2> -->

        </div>

      </section>
    </div>
  </div>

  <div class="container">
    <h5>Samsung Galaxy A41, Galaxy M01 Getting Android 11-Based One UI 3.1 Update: Reports</h5>
  </div>
  <div class="container my-5">

    <div class="card">
      <div class='row'>
        <div class="col-md-6">
          <img src="{% static '/media//mi_mobile.jpg' %}" class="img-fluid">
        </div>


        <div class="col-md-6">
          <img src="{% static '/media//mi_mobile.jpg' %}" class="img-fluid">
        </div>
      </div>
      <div class="card-body">
        <h2 class="card-title"> </h2>
        <p class="card-text"> Samsung Galaxy A41 and Galaxy M01 are reportedly receiving Android 11-based One UI 3.1
          update. Along with the update, both smartphones are receiving the April 2021 Android security patch, as per
          reports. While Galaxy A41 could be receiving a One UI 3.1 update, Galaxy M01 may be getting One UI 3.1 Core
          update. Also, the update for the former is reportedly rolling out in Russia and the update for the latter is
          reportedly rolling out in India. There has been no confirmation regarding when the update will be rolled out
          in other regions.
          <br>
          The update for Samsung Galaxy A41 and Galaxy M01₹ 7,824 were reported by SamMobile. Both smartphones were
          released in 2020 with Android 10-based One UI out-of-the-box. As per the report, Samsung is rolling out One UI
          3.1 Core for Galaxy M01 smartphones. The Core version is a lighter version of the One UI OS that is designed
          for its entry-level smartphones. Both the smartphones are reportedly getting the April 2021 security patch
          with the update.
          <br>
        </p>
      </div>
    </div>


  </div>

  </div>





  <div class="container mx-auto my-5">

    <h2>HIGHLIGHTS</h2>

    <ul>
      <li>Galaxy M01’s One UI 3.1 Core is designed for entry-level smartphones</li>
      <li>Galaxy A41 update is reportedly rolling out in Russia</li>
      <li>Firmware versions for the smartphones are A415FXXU1CUD4, M015GXXU3BUD9</li>

    </ul>




    <div class="container my-5">
      <table class="table">
        <!-- <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead> -->
        <tbody>
          <tr>
            <th scope="row"></th>
            <td>Display</td>
            <td>6.60-inch</td>

          </tr>
          <tr>
            <th scope="row"></th>
            <td>Front Camera</td>
            <td>20-megapixel</td>

          </tr>
          <tr>
            <th scope="row"></th>
            <td>Rear Camera</td>
            <td>48-megapixel</td>

          </tr>
          <th scope="row"></th>
          <td>RAM</td>
          <td>6 GB</td>

          </tr>
          <th scope="row"></th>
          <td>Storage</td>
          <td>128 GB</td>

          </tr>
          <th scope="row"></th>
          <td>Battery Capacity</td>
          <td>5000 mAh</td>

          </tr>
          <th scope="row"></th>
          <td>OS</td>
          <td>Android 11</td>

          </tr>
        </tbody>
      </table>



    </div>

    <div class="container text-center">
      <h4>Related Category</h4>
    </div>
    <div class="container my-5">
      <div class="row">
        <div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
          <img src="{% static '/media//mi_mobile.jpg' %}" class="padded card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">Xiaomi Mi 11 Summary</h5>
            <p class="card-text text-center">6.81-inch touchscreen display with a resolution of 1440x3200 pixels at a
              pixel density </p>
            <p class="card-text text-center text-success"> ₹13,499 Save ₹2,000</p>
            <p class="card-text"><small class="text-muted">Released 2021, January 01 </small></p>

          </div>
        </div>

        <div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
          <img src="{% static '/media//mi_mobile.jpg' %}" class="padded card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">Xiaomi Mi 11 Summary</h5>
            <p class="card-text text-center">6.81-inch touchscreen display with a resolution of 1440x3200 pixels at a
              pixel density .</p>
            <p class="card-text text-center text-success"> ₹13,499 Save ₹2,000</p>
            <p class="card-text"><small class="text-muted">Released 2021, January 01 </small> </p>

          </div>
        </div>

        <div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
          <img src="{% static '/media//mi_mobile.jpg' %}" class="padded card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">Xiaomi Mi 11 Summary</h5>
            <p class="card-text text-center">6.81-inch touchscreen display with a resolution of 1440x3200 pixels at a
              pixel density </p>
            <p class="card-text text-center text-success"> ₹13,499 Save ₹2,000</p>
            <p class="card-text"><small class="text-muted">Released 2021, January 01</small></p>

          </div>
        </div>



</body>

</html>